@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}

.clearfix{
    clear: both;
}

/* Typogrphy */


h6{
    font-size: o.8rem;
    line-height:1.1 ;
}


h5{
    font-size: 0.9rem;
    line-height: 1.2rem;
}


h4{
    font-size: 1rem;
    line-height: 1.3rem;
}

h3{
    font-size: 1.2 rem;
    line-height: 1.4rem;
}

h2{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h1{
    font-size: 1.8rem;
    line-height: 2rem;
}

/* layout */


:root{
    --header-height:50px;
    --nav-width:150px;
    --layout-border-color: lightgray;
}

#header{
    position:fixed;
    background-color: (255,255,255,0.87);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    border-bottom:1px solid var(--layout-border-color);

}

#nav{
    position: fixed;
    /* background-color: green; */
    top: var(--header-height);
    left: 0;
    bottom: 250px;
    width: var(--nav-width);
    border-right: 1px solid var(--layout-border-color);

}

#main{
    /* background-color: red; */
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    

}

#footer{
    text-align: center;
    padding: 10px 10px 15px ;
    border-top:1px solid var(--layout-border-color);
}

#logo{
    padding-left: 10px;

}

#smi-container{
    float: right;
    /* background-color: red; */
    padding-right: 10px;
    height: var(--header-height);

}

#smi-container .smi-icons{
    float: left;
    width: 40px;
    overflow: hidden;
    white-space: nowrap;
    /* display: inline-block; */
    height: 100%;
    /* background-color: green; */
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.6s width 300ms;
    font-weight: 500;
}


#smi-container .smi-icons:nth-child(1):hover{
    background-color: #3b5998;
}
#smi-container .smi-icons:nth-child(2):hover{
    background-color: #666;
}
#smi-container .smi-icons:nth-child(3):hover{
    background-color: #fff;
}
#smi-container .smi-icons:nth-child(4):hover{
    background-color: #3f729b;
}
#smi-container .smi-icons:nth-child(5):hover{
    background-color: yellowgreen;
}
#smi-container .smi-icons:nth-child(6):hover{
    background-color: yellowgreen;
}
#smi-container .smi-icons:nth-child(7):hover{
    background-color: yellowgreen;
}



#smi-container .smi-icons:not(.smi-icons:last-child){
    border-right: 1px solid var(--layout-border-color)
}

#smi-container .smi-icons:hover{
    color: white ;
}

#smi-container .smi-icons:hover ion-icons{
    color: white;
    width: max-content;
}


#smi-container .smi-icons ion-icons{
    font-size: 1.3rem;
    color: #666;
    padding-right: 10px;
    vertical-align: sub;
}